<a href="https://colab.research.google.com/github/Dasha-nz/nz/blob/main/L.1.2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# импортировала библиотеки
import pandas as pd

In [ ]:
# подключила гугл диск
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [ ]:
df = pd.read_csv('gdrive/My Drive/L.1.2.csv')

In [ ]:
# чтение файла и просмотр загруженных данных
df = pd.read_csv('gdrive/My Drive/L.1.2.csv')
# df = pd.read_excel('L.1.2.xlsx')
df.head()

   Nrow       Name  BirthYear  EmployYear  Salary
0     1      Emily       1987        2005   25108
1     2  Alexander       1973        1991   19687
2     3     Olivia       1989        2007   24842
3     4   Benjamin       1984        2002   27016
4     5        Ava       1972        1990   15207

In [ ]:
df[df['Salary'] > 15000]

    Nrow       Name  BirthYear  EmployYear  Salary
0      1      Emily       1987        2005   25108
1      2  Alexander       1973        1991   19687
2      3     Olivia       1989        2007   24842
3      4   Benjamin       1984        2002   27016
4      5        Ava       1972        1990   15207
5      6      Ethan       1967        1985   25265
7      8      Logan       1981        1999   20539
8      9        Mia       1969        1987   16685
10    11   Isabella       1980        1998   18193
11    12      Lucas       1987        2005   17964
12    13  Charlotte       1976        1994   21390
13    14      Mason       1965        1983   23236
14    15     Amelia       1987        2005   25754
15    16     Oliver       1981        1999   23062
17    18     Elijah       1986        2004   29630
18    19     Evelyn       1988        2006   25729
19    20      James       1975        1993   21892
20    21    Abigail       1980        1998   24538
21    22    Gabriel       1980        1998   22089
22    23      Sofia       1982        2000   26058
23    24    Michael       1980        1998   16682
25    26     Daniel       1982        2000   22061
26    27        Zoe       1978        1996   16697
27    28    Anthony       1967        1985   18714
28    29      Julia       1987        2005   25228

In [ ]:
df['Month'] = (2024 - df['EmployYear']) * 12
df.head(5)

   Nrow       Name  BirthYear  EmployYear  Salary  Month
0     1      Emily       1987        2005   25108    228
1     2  Alexander       1973        1991   19687    396
2     3     Olivia       1989        2007   24842    204
3     4   Benjamin       1984        2002   27016    264
4     5        Ava       1972        1990   15207    408

In [ ]:
df['Tax'] = (df['Salary'] / 100 * 13) * df ['Month']
df.head(30)

    Nrow       Name  BirthYear  EmployYear  Salary  Month         Tax
0      1      Emily       1987        2005   25108    228   744201.12
1      2  Alexander       1973        1991   19687    396  1013486.76
2      3     Olivia       1989        2007   24842    204   658809.84
3      4   Benjamin       1984        2002   27016    264   927189.12
4      5        Ava       1972        1990   15207    408   806579.28
5      6      Ethan       1967        1985   25265    468  1537122.60
6      7     Sophia       1978        1996   12698    336   554648.64
7      8      Logan       1981        1999   20539    300   801021.00
8      9        Mia       1969        1987   16685    444   963058.20
9     10    William       1979        1997   13622    324   573758.64
10    11   Isabella       1980        1998   18193    312   737908.08
11    12      Lucas       1987        2005   17964    228   532452.96
12    13  Charlotte       1976        1994   21390    360  1001052.00
13    14      Mason       1965        1983   23236    492  1486174.56
14    15     Amelia       1987        2005   25754    228   763348.56
15    16     Oliver       1981        1999   23062    300   899418.00
16    17     Harper       1981        1999   10886    300   424554.00
17    18     Elijah       1986        2004   29630    240   924456.00
18    19     Evelyn       1988        2006   25729    216   722470.32
19    20      James       1975        1993   21892    372  1058697.12
20    21    Abigail       1980        1998   24538    312   995261.28
21    22    Gabriel       1980        1998   22089    312   895929.84
22    23      Sofia       1982        2000   26058    288   975611.52
23    24    Michael       1980        1998   16682    312   676621.92
24    25       Lily       1980        1998   13537    312   549060.72
25    26     Daniel       1982        2000   22061    288   825963.84
26    27        Zoe       1978        1996   16697    336   729324.96
27    28    Anthony       1967        1985   18714    468  1138559.76
28    29      Julia       1987        2005   25228    228   747757.92